.sidr {
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:220px;
	overflow-x:none;
	overflow-y:auto;
	font-family:Verlag,'Lato',Arial;
	font-size:1.2em;
	color:#818286;
	margin-left:.5em;
	background: rgba(0,0,0,0.1);
	padding: 20px;
}

.sidr .sidr-inner {
	padding:0 0 15px;
}

.sidr .sidr-inner>p {
	margin-left:15px;
	margin-right:15px;
}

.sidr.right {
	left:auto;
	right:-260px;
}

.sidr.left {
	left:-260px;
	right:auto;
}
.sidr ul {
	margin:15px 0;
	padding:0;
}
.sidr ul li {
	display:block;
	margin:0;
	line-height:1.8em;
	width:90%;
}
